.code-block-page {
  background-color: #151515;
  padding: 20px 10px;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .back-btn {
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 7px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all, 0.3s;

    &:hover {
      background-color: #464d88cc;
      color: white;
    }
  }

  .code-block-edit {
    p {
      text-align: center;

      .underline {
        text-decoration: underline;
      }

      .edit-input {
        width: 100%;
        border: none;
        background: none;
        color: white;
        outline: none;
        text-align: center;
        font-size: 2rem;
        margin: 0 0 9px 0;
      }
    }
    .emoji {
      font-size: 34px;
      margin: 5px 0;
    }
    .title {
      font-size: 2rem;
      text-align: center;
      margin: 0 0 10px 0;
    }
    #text-area-block-code {
      width: 98vw !important;
      height: 70vh !important;

      .ace_print-margin {
        background-color: unset;
      }
    }
  }
}

@media (max-width: 660px) {
}
