.sign-in,
.sign-up {
  background-color: #151515;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  form {
    display: flex;
    flex-direction: column;

    label {
      input {
        padding: 5px;
        margin: 5px 0;
        border-radius: 5px;
        border: none;
      }
    }
  }
}
